@import 'variables';
h1 {
    font-size: 24px;
    text-align: center;
    padding: 16px;
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: $color01;
    border: 2px solid $color02;
    border-radius: 16px;
    padding: 20px 50px;
    font-size: 22px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px 0 $color02 inset, 0 0 20px 2px $color02;
    }
}

.lotteryText {
    margin: 40px;
    font-size: 22px;
    text-align: center;
    height: 60px;
}

.lotteryNumber {
    display: block;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: $color01;
    background-color: $color03;
}